@{
    ViewData["Title"] = "About";
}
<h2>Kelompok 2</h2>

<tr>
    Nanda yudha pratama - 20180140004
</tr>
<br />
<tr>
    Rayka Agustasya Ripha - 20180140017
</tr>
<br />
<tr>
    Hanif Fauzan Albana - 20180140019
</tr>
<br />
<tr>
    Gian Alfaricha - 20180140026
</tr>
<br />
<tr>
    Alfi Nur Aziz - 
</tr>
<th>20180140034</th>